/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 100%);
  }
  

.container {
    padding: 24px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
    font-weight: bold;
}

.button {
    background-color: transparent;
    border: 1px solid #7E57C2;
    color: #BA68C8;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    color: #fff;
    background-color: #7E57C2;
}

.divider {
    border: 1px solid #888;
}

.quiz-list {
    margin-top: 16px;
}

.quiz-card {
    background-color: #3C2A5D;
    padding: 16px;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}



.quiz-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #fff;
}

.title-wrapper {
    display: flex;
    align-items: center; /* Ensures both elements are vertically centered */
}

.title-wrapper .image {
    margin-right: 10px; /* Adds some space between the image and the text */
}


hr{
    border: 1px solid #DA88F9;
    margin: 8px 0;
}

.due-date, .course-code {
    color: #fff;
    font-size: 15px;
}

.quiz-details {
    color: #fff;
    margin-top: 8px;
}

.quiz-section {
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #DA88F9;
    padding: 12px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.quiz-section:hover {
    background-color: #DA88F9;
}

.description {
    color: #6c757d;
    font-size: 0.875rem;
    margin: 4px 0 0 0;
    font-weight: normal;
}


